@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 186, 218, 52;
}

@layer base {
  body {
    @apply text-gray-900 bg-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#bada34] text-white font-semibold py-2 px-4 rounded hover:bg-[#a5c22f] transition-colors duration-300;
  }
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300 transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sliding-text {
  animation: slide 20s linear infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

